@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
margin:0;
color:#1b1a20;
font-family:'Roboto',sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 100px;
}

.sizeSection {
  display: block;
  width: 275px;
  height: 590px;
  margin: 30px 10px;
}

.sizeContainer div:hover {
  border: #1b1a20 solid 1px;
  cursor: pointer;
}

.productsContainer {
  margin: 10px 0px ;
  width: 1250px;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.productsContainer .product {
  display: block;
  padding: 10px;
  height: auto;
  text-align: center;
  margin:10px 10px;;
  border-radius: 5%;
  
}

.nameContainer {
  text-align: center;
  box-sizing: border-box;
  padding: 0px 10px;
  width: 200px;
  margin-bottom: 10px;
  cursor: default;
}

.productName {
  display: flex;
 flex-wrap: wrap;
 padding: 10px;
 height: 45px;
 font-size: 1em;
}

.lineContainer {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.straightLine {
  background-color:#eabf00;
  font-weight: bold;
  height: 1.5px;
  width: 20px;
}

.product-price {
  margin: 0px;
}

.product-price small {
  font-size: 80%;
}

.product-price b {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 5px;
}

.product-price span {
  text-align: center;
}

.product-installment {
  color:#9c9b9b;
  margin: 0px;
  text-align: center;
}

.addBtn {
  background-color: rgb(27,26,32);
  color: white;
  padding: 10px;
  margin-top: 10px ;
  width: 100%;
  transition: background-color 0.2s ease 0s;
  border-radius: 4%;  
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.addBtn:hover {
  background-color: #eabf00;
  cursor: pointer;
}

.sizeFilterSection {
  width: 100px;
  padding: 0px;
}

.sizeFilterSection h3 {
  padding:  5px;
  margin: 0px 0px 25px 0px;
}

.sizeContainer div {
  display: inline-block;
  margin-bottom: 10px;
  height: 35px;
  width:35px;
  font-size:0.8em;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: rgb(27, 26, 32);
  background-color: rgb(236, 236, 236);
  border: 1px solid transparent;
}

.sizeContainer div:active{
  background-color: #1b1a20;
  color: white;
}

.product-picture {
  position: relative;
  display: inline-block;
}

.favoriteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: black solid 1px;
  border-radius: 38%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-heart {
margin: 0px;
padding: 4px 3px 2px 3px;
text-align: center;
line-height: center;
}

.isActive {
  background-color: #ec3030 !important;
}

.contains {
  display: flex;
  flex-direction:column;
}

.headerClass {
  display: inline-block;
  width: 900px;
  margin: 30px 0px 10px 20px ;
  padding: 0px;
  
}

.basketBtn {
  padding: 4px;
  background-color: #1b1a20;
  color: white;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.toggleDiv {
  margin: 0px;
  text-align: center;
  margin-top: 20px;
}

.svgBasket {
  width: 20px;
  height: auto;
  text-align: center;
}

.navPart {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  justify-content:space-between;
}

.headerClass .list {
  display: flex;
  width: 700px;
  height: auto;
  margin: 0px 0px;
  padding: 0px;
  text-decoration: none;

}

.headerClass ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.headerClass ul li {
margin-left: 10px;
}

.headerClass .list a{
text-decoration: none;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  justify-content: end;
  z-index: 1;
  padding: 5px;
  width: 440px;
  background-color: #1b1a20;

}

.cartContainer div:first-child {
  width: 440px;
  height: 90px;
  padding: 45px 0px;
  display: inline-block;
  color: white;
  box-sizing: border-box;
}

.itemCount {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;;
 
}

.btnClose {
  background-color: rgb(234, 191, 0);
  border-radius: 25%;
  padding: 5px 8px;
  margin: 0px 10px;
  cursor: pointer;
}

.itemCount .svgBasket {
  width: 40px;
  height: 40px;
}

.subtotal {
  margin: 0px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  width: 400px;
  padding: 20px;
  align-items: center;

}

.subtotal div {
  display: flex;
  margin: 0px;
}

.subtotal .title {
  width: 50px; 
  display: flex !important; 
  flex-direction: column-reverse  ;
  color:rgb(91, 90, 94);
  margin-left: 15px;
}

.subtotal .price {
  width:350px;
  display: flex;
  flex-direction: column;
  color: rgb(234, 191, 0);
}

.price p {
  margin: 5px 5px 15px auto;
}

.btnCheck {
  display: block;
  color: rgb(236, 236, 236);
  text-transform: uppercase;
  background-color: rgb(12, 11, 16);
  text-align: center;
  padding: 15px 0px;
  margin-top: 40px;
  cursor: pointer;
  width: 100%;
}

.total {
  box-sizing: border-box;
  position: absolute;
  bottom: 5px;
  height: 200px;
  z-index: 2;
  background-color: rgb(27, 26, 32);
}

.showBill  {
  box-sizing: border-box;
  width: 440px;
  height: 130px;
  margin: 5px 0px;
  border:5px solid rgb(27, 26, 32); ;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  position: relative;
}

.productCart {
  margin:0px 0px;
  width: 70px !important;
  height: 90px !important;
  padding: 0px !important;
  align-items: center;
}

.productCart img{
  width: 60px !important;
  height: 70px;
  margin: 0px 20px 0px 0px;
}

.productTitle {
  width: 230px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-content:end !important;
}

.productTitle p {
  padding: 0px;
  margin: 5px 0px;
  text-align: start;
  color: white;
  word-wrap: break-word;
}

.productPrice {
  width: 100px;
  color: rgb(234, 191, 0);
  display: flex;
  justify-content: end;
  margin-right: 10px;

}